html{
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
    --cor-padrao: lightgray;
    --cor-github: black;
    --cor-linkedin: rgb(1, 150, 188);
    --cor-primaria-texto: #222;
    --cor-secundaria-texto: #555;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0px 20px;
}

img{
    width: 100%;
}

.icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

@media (max-width: 900px) {
    .icon{
        width: 32px;
        height: 32px;
    }
}